<!DOCTYPE html>
<html ng-app="myapp">
<head>
	<title>OATSEA Teacher Virus Payloads Online Catalog</title>

   	<link href="css/bootstrap.css" rel="stylesheet">
   	<link href="css/my-styles.css" rel="stylesheet">

</head>
<body>
<div class="container">
	<H1>OATSEA Catalog</H1>
	<div class="row">
	  <div class="col-sm-4 col-md-4 col-sm-offset-8" id="searchthing">
	  	<input class="form-control input-lg" placeholder="Filter" ng-model="searchKey" />
	  </div>
	</div>

	<p><hr></p>
	<div class="row ng-cloak" ng-controller="myCtrl" ng-cloak>
	  <div class="col-sm-4 col-md-4" ng-repeat="item in catalog | filter:searchKey">
	  	<h2 ng-cloak>{{item.name}}</h2>
		<p ng-cloak><b>{{item.TVID}}</b> 	
		<p ng-cloak><i>{{item.blurb}}</i></p>
		<p ng-cloak><b>By:</b> <a href="{{item.contrib_url}}">{{item.contributor}}</a> </p>
		<p ng-cloak><b>Rating:</b> {{item.rating}}/5 &#9734; ( {{item.votes}} ) </p>
		<p ng-cloak>{{item.description}}</p>
		<a class="btn btn-lg btn-primary" href="{{item.downloadurl}}" roll="button">Install</a>
		
	  </div>
	</div>

	<script src="angular.js"></script>

   	<script>
   		angular.module('myapp',[])
   			.controller('myCtrl',MyCtrl);

   		function MyCtrl($scope, $http) {
   			$http({method: 'GET', url: 'http://teachervirus.org/index.php?option=com_jsonexport&table=catalog'}).success(function(data) {
   				$scope.catalog=data; // response data 
   			});
   		}	// end MyCtrl

   	</script>

</body>
</html>